<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661179322395-4987tvmf245p1s3i7c97da3oh01sdjpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661179322395-4987tvmf245p1s3i7c97da3oh01sdjpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAfqaTRDN-3fUWpKWfd-H1C3I5sE5kXfcw</string>
	<key>GCM_SENDER_ID</key>
	<string>661179322395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sametbakmaz.FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-53706</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-53706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661179322395:ios:38f1eec3f1b5e0abc7e8be</string>
</dict>
</plist>